/*Structure*/

body {
  background-color: #1C1730;
  margin: 0;
  height: 100%;
  margin-bottom: 0;
}

/*Header*/

header {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}

nav a {
  color: #f5f5f5;
  font-size: 18;
  font-family: Montserrat, sans serif;
  font-weight: bold;
  text-decoration: none;
  margin: 20px;
  padding: 20px;
}

/*Titres*/

h1 {
  color: #f5f5f5;
  font-family: Montserrat, sans serif;
  font-size: 48;
  font-weight: bold;
}

h2 {
  color: #f5f5f5;
  font-family: Montserrat, sans serif;
  font-size: 30;
  font-weight: 200;
}

/*Main-container landing page*/

.main-container-landing {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 90%;
}

.left-side-landing-page {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}


#title-landing-page {
  margin-left: 40px;
  margin-top: 100px;
  margin-bottom: 20px;
}

#subtitle-landing-page {
  margin-left: 40px;
  margin-top:20px;
  margin-bottom:20px;
}

/*CTA*/
#call-to-action-landing-page {
  display: flex;
  width: 200px;
  justify-content: space-between;
  margin-left: 40px;
  margin-top : 20px;
  padding: 5px;
}

a.discover,
a.comment {
  color: #f5f5f5;
  font-family: Montserrat, sans serif;
  font-weight: bold;
  text-decoration: none;
  position: relative;
}

a.discover::before,
a.comment::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 3px;
  bottom: -1;
  left: 0;
  background-color: #E1F701;
  transition: 1s;
}

a:hover::before {
  transform: translateX(5px);
}

/*Footer*/

#wave-footer {
  width: 100%;
  height: 130px;
  position : absolute
  bottom: 0;
  z-index: 0;
}
/*Menu*/

/*Images*/
.logo {
  margin: 10px;
}

#man-listening-music {
  position: absolute;
  top:75%;
  left:55%;
  width: 270px;
  height: 270px;
  z-index: -1;
}

#woman-listening-music {
  position: relative;
  top:66%;
  right: 20%;
  width: 270px;
  height: 270px;
  z-index: -2;
}

/*Discover page*/

.main-container-discover{
  display: flex;
  flex-direction: row;
  width: 100%;
  }

/*Albums left side*/

  .discover-left-side {
    width: 50%;
    margin: 70px;
    padding: 10px;
    display: flex;
    flex-flow: row wrap;
    align-content: center;
    align-items: center;
    justify-content: center;
  }

  .discover-left-side div {
    width: 50%;
  }


  div.french-montana {
    display: flex;
      justify-content: flex-end;
  }

  div.foals {
    display: flex;
      justify-content: flex-end;
  }

  /*Right side*/

  .discover-right-side {
    width: 50%;
    margin: 70px;
    display: flex;
    flex-flow : column;
    align-items: flex-start;

  }

  #icons {
    display: flex;
    flex-direction : row;
    align-items: center;
  }

  div .albums, div.charts, div.more {
    margin-right: 20px;
    margin-top:20px
  }

  p {
    color: #f5f5f5;
    font-family: Montserrat, sans serif;
    font-size: 15;
  }

/*Images discover page*/

#icons div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#icons img {
  height: 35%;
  margin-top: 15px;
}

  .albums,
  .charts,
  .more {
    width: 80px;
    height: 80px;
    background: linear-gradient(
        180deg,
        rgba(245, 245, 245, 0.07) 0%,
        rgba(255, 255, 255, 0) 100%
      ),
      rgba(245, 245, 245, 0.05);
  }


  /*Footer discover*/

.footer-general {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 100px;
  background-image: url("images/wave-vector-footer.svg");
  z-index: 0
}

.about-contact {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 200px;
  margin-left: 50px;
  margin-top: 50px;
}

.social-networks {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width:300px;
  margin-right: 50px;
  margin-bottom:15px;
}

.about-contact a, .instagram a, .twitch a {
    color:#0d0a13;
    font-size:14;
    font-family: Montserrat, sans serif;
    font-weight: bold;
    text-decoration: none;
  }

#insta-icon, #twitch-icon {
  width: 20px;
}

.instagram, .twitch {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100px;
  margin-top: 35px;
}

div .twitch {
  width: 70px;
}

/*Comment page*/

.main-container-comment {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/*Left side join the wave*/

.left-side-comment {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-top: 20px;
  margin-left:20px;
}

.title-comment {
  width: 50%;
  margin-left: 70px;
  margin-top: 30px;
}

span#wave {
  font-size: 70;
}

/*Image comment left side*/

#woman-music-comments {
  position: relative;
  width: 350px;
  height: 350px;
  left:40;
  bottom:-55;
  z-index: -1;
}

/*Form right side*/

.right-side-comment {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-top: 120px;
}

div .comment-form {
  display: flex;
  flex-direction: column;
  width: 70%;
  height: 100%;
}

.name-box {
 width: 50%;
}

label {
  color: #f5f5f5;
  font-family: Montserrat, sans serif;
  font-size: 18;
  font-weight: bold;
  margin-bottom: 10px;
}

.name-box, .comment-box {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
}

textarea#comment {
  height:150px;
  border: 1px solid #E1F701;
  background-color: transparent;
  border-radius: 15px;
}

input#auteur {
  height: 30px;
  border: 1px solid #E1F701;
  background-color: transparent;
  border-radius: 5px;
}

button#submit-btn {
  width : 25%;
  background-color:#f5f5f5;
  border-radius: 5px;
  margin-top: 30px;
  height: 50px;
  font-family: Montserrat, sans cursif;
  font-size: 18;
  font-weight: bold;
  color: #1C1730;
  transition: 2s;
}

button#submit-btn:hover {
background-color: #E1F701;
color : #1C1730;
font-weight: bold;
}

input, textarea {
  color:#f5f5f5;
  font-family: Montserrat, sans cursif;
  font-size: 18;
}