/*Structure*/

body {
  background-color: #1C1730;
  margin: 0;
  margin-bottom: 0;
}

/*Header*/

header {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}

nav a {
  color: #f5f5f5;
  font-size: 18;
  font-family: Montserrat, sans serif;
  font-weight: bold;
  text-decoration: none;
  margin: 20px;
  padding: 20px;
}

/*Titres*/

h1 {
  color: #f5f5f5;
  font-family: Montserrat, sans serif;
  font-size: 48;
  font-weight: bold;
}

h2 {
  color: #f5f5f5;
  font-family: Montserrat, sans serif;
  font-size: 30;
  font-weight: 200;
}

/*Main-container landing page*/

.left-side-landing-page {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

#title-landing-page {
  margin-left: 40px;
  margin-top: 100px;
  padding: 5px;
}

#subtitle-landing-page {
  margin-left: 40px;
  margin-top:20px
  padding: 5px;
}

/*CTA*/
#call-to-action-landing-page {
  display: flex;
  width: 200px;
  justify-content: space-between;
  margin-left: 40px;
  margin-top : 20px;
  padding: 5px;
}

a.discover,
a.comment {
  color: #f5f5f5;
  font-family: Montserrat, sans serif;
  font-weight: bold;
  text-decoration: none;
  position: relative;
}

a.discover::before,
a.comment::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 3px;
  bottom: -1;
  left: 0;
  background-color: #E1F701;
  transition: 1s;
}

a:hover::before {
  transform: translateX(5px);
}

/*Footer*/

#wave-footer {
  width: 100%;
  height: 130px;
  bottom: 0px;
  z-index: 0;
}
/*Menu*/

/*Images*/
.logo {
  margin: 10px;
}

#characters-landing-page {
  display: grid;
  grid-template-columns: 1fr 0.4fr 0.5fr;
  grid-template-rows: 0.1fr 0.5fr;
}

#man-listening-music {
  grid-column: 2/3;
  grid-row: 2/3;
  width: 230px;
  height: 230px;
  z-index: -1;
}

#woman-listening-music {
  grid-column: 3 /4;
  grid-row: 2/3;
  width: 260px;
  height: 260px;
  z-index: -2;
}

/*Discover page*/

.main-container-discover{
  display: flex;
  flex-direction: row;
  width: 100%;
  }

/*Albums left side*/

  .discover-left-side {
    width: 50%;
    margin: 70px;
    padding: 10px;
    display: flex;
    flex-flow: row wrap;
    align-content: center;
    align-items: center;
    justify-content: center;
  }

  .discover-left-side div {
    width: 50%;
  }


  div.french-montana {
    display: flex;
      justify-content: flex-end;
  }

  div.foals {
    display: flex;
      justify-content: flex-end;
  }

  /*Right side*/

  .discover-right-side {
    width: 50%;
    margin: 70px;
    display: flex;
    flex-flow : column;
    align-items: flex-start;

  }

  #icons {
    display: flex;
    flex-direction : row;
    align-items: center;
  }

  div .albums, div.charts, div.more {
    margin-right: 20px;
    margin-top:20px
  }

  p {
    color: #f5f5f5;
    font-family: Montserrat, sans serif;
    font-size: 15;
  }

/*Images discover page*/

#icons div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#icons img {
  height: 35%;
  margin-top: 15px;
}

  .albums,
  .charts,
  .more {
    width: 80px;
    height: 80px;
    background: linear-gradient(
        180deg,
        rgba(245, 245, 245, 0.07) 0%,
        rgba(255, 255, 255, 0) 100%
      ),
      rgba(245, 245, 245, 0.05);
  }


  /*Footer discover*/

.footer-discover-comment {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 100px;
  background-image: url("images/wave-vector-footer.svg");
}

.about-contact {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 200px;
  margin-left: 50px;
  margin-top: 50px;
}

.social-networks {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width:300px;
  margin-right: 50px;
  margin-bottom:15px;
}

.about-contact a, .instagram a, .twitch a {
    color:#0d0a13;
    font-size:14;
    font-family: Montserrat, sans serif;
    font-weight: bold;
    text-decoration: none;
  }

#insta-icon, #twitch-icon {
  width: 20px;
}

.instagram, .twitch {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100px;
  margin-top: 35px;
}

div .twitch {
  width: 70px;
}

/*Comment page*/

span#wave {
  font-size: 70;
}

/* Image comment page*/

.main-container-comment {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.left-side-comment {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.right-side-comment {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.comment-form {
  display: flex;
  flex-direction: column;
  width: 50%;
}

#woman-music-comments {
  width: 300px;
  height: 300px;
}